amqp==2.2.2
billiard==3.5.0.3
cachetools==2.0.1
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.12
django-braces==1.13.0
django-environ==0.4.4
django-oauth-toolkit==1.1.2
django-registration-redux==2.4
django-rest-framework-social-oauth2==1.1.0
django-sslserver==0.20
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
enum34==1.1.6
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-vision==0.31.0
googleapis-common-protos==1.5.3
grpcio==1.10.0
idna==2.6
kombu==4.1.0
oauthlib==2.0.7
opencv-python==3.4.0.12
protobuf==3.5.2.post1
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyJWT==1.6.1
python3-openid==3.1.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.26.5
vine==1.1.4
