<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sliply</title>
</head>
<body>
{#<script>#}
{#  window.fbAsyncInit = function() {#}
{#    FB.init({#}
{#      appId      : '291170378085259',#}
{#      xfbml      : true,#}
{#      version    : 'v2.12'#}
{#    });#}
{#    FB.AppEvents.logPageView();#}
{#  };#}
{##}
{#  (function(d, s, id){#}
{#     var js, fjs = d.getElementsByTagName(s)[0];#}
{#     if (d.getElementById(id)) {return;}#}
{#     js = d.createElement(s); js.id = id;#}
{#     js.src = "https://connect.facebook.net/en_US/sdk.js";#}
{#     fjs.parentNode.insertBefore(js, fjs);#}
{#   }(document, 'script', 'facebook-jssdk'));#}
{#</script>#}
{% block content %}

{% endblock %}
</body>
</html>