<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'snippets/head.html' %}
    <title>{% block title %}Sliply{% endblock %}</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 col-md-2 Sidebar sticky-top">
            {% include 'menu.html' %}
        </div>
        <div class="col-9 col-md-10 bg-grey Main">
            {% if messages %}
                <div class="container-fluid">
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% include 'snippets/script_bottom.html' %}
</body>
</html>